# Ignore PyCharm project files
.idea/

# Ignore compiled Python files
*.pyc

# Ignore Python cache files
__pycache__/

# Ignore log files
*.log

# Ignore environment files
*.env
.env
.venv/
.tradevenv/

# Ignore secret files
.env
*.env
.flaskenv

# Backups
backup/

# Ignore user tracking file
user_tracking.json

# Cursor rules
.cursorrules

# Ignore playgrounds
playground.py
