{% block buy_content %}

    <div class="buy" id="buy">

        <div class="buy-row row-1">
            <a href="https://dexscreener.com/solana/{{ C.CA }}" target="_blank">
                <div class="buy-item">
                    <img src="{{ url_for("static", filename="images/dex-logo.webp") }}" alt="dex" class="buy-img">
                    <div class="buy-text-wrapper">
                        <p class="buy-text">Buy on</p>
                        <p class="buy-text">Dexscreener</p>
                    </div>
                </div>
            </a>

            <a href="https://moonshot.money/" target="_blank">
                <div class="buy-item">
                    <img src="{{ url_for("static", filename="images/moonshot-logo.webp") }}" alt="moonshot" class="buy-img">
                    <div class="buy-text-wrapper">
                        <p class="buy-text">Buy on</p>
                        <p class="buy-text">Moonshot</p>
                    </div>
                </div>
            </a>

            <a href="https://jup.ag/tokens/{{ C.CA }}" target="_blank">
                <div class="buy-item">
                    <img src="{{ url_for("static", filename="images/jupag-logo.webp") }}" alt="jupag" class="buy-img">
                    <div class="buy-text-wrapper">
                        <p class="buy-text">Buy on</p>
                        <p class="buy-text">Jup.ag</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="buy-row row-2">
            <a href="https://axiom.trade/meme/{{ C.CA }}" target="_blank">
            <div class="buy-item">
                <img src="{{ url_for("static", filename="images/axiom-logo.webp") }}" alt="axiom" class="buy-img">
                <div class="buy-text-wrapper">
                    <p class="buy-text">Buy on</p>
                    <p class="buy-text">Axiom</p>
                </div>
            </div>
            </a>

            <a href="https://neo.bullx.io/terminal?chainId=1399811149&address={{ C.CA }}" target="_blank">
                <div class="buy-item">
                    <img src="{{ url_for("static", filename="images/bullx-logo.webp") }}" alt="bullx" class="buy-img">
                    <div class="buy-text-wrapper">
                        <p class="buy-text">Buy on</p>
                        <p class="buy-text">Bullx</p>
                    </div>
                </div>
            </a>

            <a href="https://photon.fun/{{ C.CA }}" target="_blank">
                <div class="buy-item">
                    <img src="{{ url_for("static", filename="images/photon-logo2.webp") }}" alt="photon" class="buy-img">
                    <div class="buy-text-wrapper">
                        <p class="buy-text">Buy on</p>
                        <p class="buy-text">Photon</p>
                    </div>
                </div>
            </a>
        </div>
        
    </div>

{% endblock %}
